
<form class="login-form">
    <div>
        <label class="text-size" for="email-login">email:</label>
        <input type="text" id="email-login" class="input-form"/>
    </div>
    <div>
        <label class="text-size" for="password-login">password:</label>
        <input type="password" id="password-login" class="input-form"/>
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<form class="signup-form">
    <div>
        <label class="text-size" for="username-signup">username:</label>
        <input type="text" id="username-signup" class="input-form"/>
    </div>
    <div>
        <label class="text-size" for="email-signup">email:</label>
        <input type="text" id="email-signup" class="input-form"/>
    </div>
    <div>
        <label class="text-size" for="password-signup">password:</label>
        <input type="password" id="password-signup"class="input-form" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>



<script src="/javascript/login.js"></script>